
extends layout         
block variables
    - var doctor_name = doctor_name
block content        
        
    div.w-screen.shadow-lg.inline-flex
        p.text-black.font-bold.text-2xl.mx-4.my-3 Calendar
        button(class='font-bold hover:text-blue-500 hover:drop-shadow-md ml-24 mr-6 w-24 my-4 h-8') Day
        button(class='font-bold hover:drop-shadow-md rounded-lg bg-blue-500 text-white mx-6 w-24 my-4 h-8') Week
        button(class='font-bold hover:text-blue-500 hover:drop-shadow-md mx-6 w-24 my-4 h-8') Month
        button(class='font-bold hover:text-blue-500 hover:drop-shadow-md mx-6 w-24 pr-12 h-9 my-4' style={'border-width': '0px 2px 0px 0px'}) Today
        
        button(class='font-bold hover:drop-shadow-md rounded-lg border-gray-500 mx-6 w-24 my-4 h-8' style={'border-width': '1px 1px 1px 1px'}) Next

        form.ml-auto.justify-center.items-center.w-96.h-16.mx-6.mt-3.mb-0
            label(for='default-search' class='mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300') Search
            div.relative.mx-3.justify-center
                div.flex.absolute.inset-y-0.left-0.items-center.pl-3.pointer-events-none
                    svg(aria-hidden='true' class='w-5 h-5 text-gray-500 dark:text-gray-400' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z')

                input.justify-center.items-center.flex(type='search' id='default-search' class='block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Search ...' required)
                button(type='submit' class='text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800') Search
        
    div(style={background: '#F3F3F3'}).w-full.flex        
        // Left part
        div(class='w-1/4')   
            button(class='inline flex font-bold hover:drop-shadow-md rounded-lg bg-gray-700 text-white m-6 p-6 w-48 h-12' type='button' onclick='openModal()').justify-center.items-center
                img(src='plus white icon.svg').h-4.mr-auto    
                p.font-bold New meeting          

            div(id='datepicker').justify-center.items-center.flex
            div.inline.flex.justify-center.items-center.mx-16
                button(id='today' class='focus:text-black focus:border-black focus:border-b-2').justify-center.items-center.flex-1.text-2xl.border-b-2.text-gray-400.border-gray-400.py-2 Today 
                button(id='tomorrow' class='focus:text-black focus:border-black focus:border-b-2').justify-center.items-center.flex-1.text-2xl.border-b-2.text-gray-400.border-gray-400.py-2 Tomorrow 
            
            table(class='text-md text-left text-gray-500 w-full border-separate border-spacing-2 my-6 ml-16')
                tbody
                    tr.text-sm.font-bold.text-gray-500
                        td
                            img(src='circle red icon.svg')                                
                        td.w-72
                            p.ml-3 Pan Feng
                        td
                            p 09:45
                    tr.text-sm.font-bold.text-gray-500
                        td
                            img(src='circle red icon.svg')                               
                        td.w-72
                            p.ml-3 Lidmila Vilensky
                        td
                            p 10:15                     
                    tr.text-sm.font-bold.text-gray-500
                        td
                            img(src='circle red icon.svg')                               
                        td.w-72
                            p.ml-3 Emmallyn Mazia
                        td
                            p 11:00                                
                    tr.text-sm.font-bold.text-gray-500
                        td
                            img(src='circle red icon.svg')                                
                        td.w-72
                            p.ml-3 Praskovia Dubinina
                        td
                            p 11:30

        div(class='w-9/12')       
            table(id='schedulerTable').border.border-solid.border-gray-300.bg-blue-50                      

        
        div(id='defaultModal')            

    script.        
        
        const aaDataTimes = ['7 AM', '8 AM', '9 AM', '10 AM', '11 AM', '12 PM', '1 PM', '2 PM', '3 PM', '4 PM', '5 PM', '6 PM', '7 PM', '8 PM', '9 PM']
        const days = ['Sunday ', 'Monday ', 'Tuesday ', 'Wednesday ', 'Thursday ', 'Friday ', 'Saturday ']
        var aaData = []
        var aoColumns = [{'sTitle': 'GMT' }]
        aaDataTimes.forEach(element => aaData.push([element]))            
        var tbl 
        var innerTable 
        // Define array for list of disable dates 
        var array = ['2022-09-14', '2022-09-16', '2022-09-19']

        function setTitles(item, index)
        {
            var date = new Date($('#datepicker').val())
            var dayNum = date.getDay()  
            date.setDate(date.getDate() - dayNum + index) 
            var month =  date.getMonth() + 1 
            if (index == dayNum)
                aoColumns.push({'sTitle': item + date.getDate() + '/' + month, 'className': 'blueText'})
            else
                aoColumns.push({'sTitle': item + date.getDate() + '/' + month})
        }        

        function setData()
        {            
            aoColumns = [{'sTitle': 'GMT'}]
            days.forEach(
                setTitles
            )
            for(var i = 1; i < aoColumns.length; i++)
            {
                $(tbl.column(i).header()).text( aoColumns[i].sTitle )
                $(tbl.column(i).header())[0].classList.remove('blueText')
                if (aoColumns[i].className == 'blueText')
                    $(tbl.column(i).header())[0].classList.add('blueText')
            }

            tbl.column(0).nodes().each(function (cell, i) {
                cell.classList.add('gmtText')
            })
            
            for(var i = 1; i < 8; i++)
            {
                tbl.column(i).nodes().each(function (cell, j) {
                    cell.innerHTML = '<table id="schedulerTableInner" class="w-full h-16"><tbody><tr><td class="border border-2 p-0"></td></tr><tr><td class="border border-2 p-0"></td></tr></tbody></table>'
                }) 
            }           
            var date = new Date($('#datepicker').val())
            var dayNum = date.getDay() 
            tbl.column(dayNum + 1).nodes().each(function (cell, i) {
                cell.innerHTML = '<table id="schedulerTableInner" class="w-full h-16 bg-blue-200"><tbody><tr><td class="border border-2 p-0"></td></tr><tr><td class="border border-2 p-0"></td></tr></tbody></table>'
            }) 

            initData()                       
        }

        function initData()
        {
            var date = new Date($('#datepicker').val())
            var dayNum = date.getDay()  
            var bg = ''

            // set some dafault meetings
            if (dayNum == 0)
                bg = 'bg-blue-200'
            else 
                bg = ''    

            tbl.column(1).nodes()[3].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 bg-white"><tbody><tr><td class="border-t-4 p-0 border-blue-800">' + 
                '<div class="inline flex"><p class="text-sm font-bold">' + 'Kay Totleben' + '</p><img class="w-8 ml-auto" src="chat icon.svg"></div>' +
                '</td></tr><tr><td class="p-0 text-left">' +
                '<div class="flex items-start"><p class="align-left text-sm font-bold text-gray-400">High blood pressure</p></div>' +
                '</td></tr></tbody></table>'
            
            tbl.column(1).nodes()[4].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 bg-white"><tbody><tr><td class="border-b-4 p-0 border-blue-800">' +
                '<div class="h-8"><p class="text-sm font-bold"></p></div>' +
                '</td></tr><tr><td class="p-0 text-left">' +
                '<div class="inline flex"><p class="text-sm font-bold">' + 'Ariana Baros' + '</p><img class="w-8 ml-auto" src="video icon.svg"></div>' +
                '</td></tr></tbody></table>'             
            
            tbl.column(1).nodes()[5].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 bg-white"><tbody><tr><td class="p-0 border-b-4 border-blue-800">' + 
                '<div class="flex items-start"><p class="align-left text-sm font-bold text-gray-400">Video Chat</p></div></td></tr><tr><td class="p-0 text-left">' +
                '<div class="inline flex"><p class="text-sm font-bold">' + 'Magnus Kekhuis' + '</p><img class="w-8 ml-auto" src="chat icon.svg"></div>' +
                '</td></tr></tbody></table>'         
            
            tbl.column(1).nodes()[6].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 bg-white"><tbody><tr><td class="p-0">' + 
                '<div class="flex items-start"><p class="align-left text-sm font-bold text-gray-400">Video Chat</p></div></td></tr><tr><td class="p-0 text-left">' +
                '<div class="h-8"><p class="text-sm font-bold"></p></div>' +
                '</td></tr></tbody></table>'

            if (dayNum == 1)
                bg = 'bg-blue-200'
            else 
                bg = ''   

            tbl.column(2).nodes()[4].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 ' + bg + '"><tbody><tr><td class="p-0">' + 
                '<div class="h-8"></div>' +
                '</td></tr><tr><td class="p-0 text-left border-t-4 border-blue-800 bg-white">' +
                '<div class="inline flex"><p class="text-sm font-bold">' + 'Opi Watihana' + '</p><img class="w-8 ml-auto" src="video icon.svg"></div>' +
                '</td></tr></tbody></table>'

            tbl.column(2).nodes()[5].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 bg-white"><tbody><tr><td class="p-0">' + 
                '<div class="flex items-start"><p class="align-left text-sm font-bold text-gray-400">Diabetes</p></div>' +
                '</td></tr><tr><td class="p-0 text-left">' +
                '<div class="h-8"></div>' +
                '</td></tr></tbody></table>'
            
            tbl.column(2).nodes()[6].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 ' + bg + '"><tbody><tr><td class="p-0">' +
                '<div class="h-8"></div>' +
                '</td></tr><tr><td class="p-0 text-left border-t-4 border-blue-800 bg-white">' +
                '<div class="flex"><p class="text-sm font-bold">' + 'Ludmila Vilensky' + '</p></div>' +
                '</td></tr></tbody></table>'   

            tbl.column(2).nodes()[7].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 ' + bg + '"><tbody><tr><td class="p-0 bg-white">' +
                '<div class="flex items-start"><p class="align-left text-sm font-bold text-gray-400">High blood pressure</p></div>' +
                '</td></tr><tr><td class="p-0 text-left">' +
                '<div class="h-8"></div>' +
                '</td></tr></tbody></table>'     

            tbl.column(2).nodes()[8].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 bg-white"><tbody><tr><td class="border-t-4 p-0 border-blue-800">' + 
                '<div class="inline flex"><p class="text-sm font-bold">' + 'Oluchi Mazi' + '</p><img class="w-8 ml-auto" src="video icon.svg"></div>' +
                '</td></tr><tr><td class="p-0 text-left">' +
                '<div class="flex items-start"><p class="align-left text-sm font-bold text-gray-400">High blood pressure</p></div>' +
                '</td></tr></tbody></table>'                  

            if (dayNum == 2)
                bg = 'bg-blue-200'
            else 
                bg = ''   

            tbl.column(3).nodes()[3].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 ' + bg + '"><tbody><tr><td class="p-0">' + 
                '<div class="h-8"></div>' +
                '</td></tr><tr><td class="p-0 text-left border-t-4 border-blue-800 bg-white">' +
                '<div class="inline flex"><p class="text-sm font-bold">' + 'PAN FENG' + '</p><img class="w-8 ml-auto" src="chat icon.svg"></div>' +
                '</td></tr></tbody></table>'

            tbl.column(3).nodes()[4].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 bg-white"><tbody><tr><td class="p-0">' + 
                '<div class="flex items-start"><p class="align-left text-sm font-bold text-gray-400">Irritable bowel syndrome</p></div>' +
                '</td></tr><tr><td class="p-0 text-left">' +
                '<div class="h-8"></div>' +
                '</td></tr></tbody></table>'
            
            tbl.column(3).nodes()[5].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 bg-white"><tbody><tr><td class="p-0 border-t-4 border-blue-800">' +
                '<div class="inline flex"><p class="text-sm font-bold">' + 'Yong Tonghuyong' + '</p><img class="w-8 ml-auto" src="chat icon.svg"></div>' +
                '</td></tr><tr><td class="p-0 text-left bg-white">' +
                '<div class="flex items-start"><p class="align-left text-sm font-bold text-gray-400">back pain</p></div>' +
                '</td></tr></tbody></table>'   

            tbl.column(3).nodes()[6].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 bg-white"><tbody><tr><td class="p-0 bg-white">' +
                '<div class="h-8"></div>' +
                '</td></tr><tr><td class="p-0 text-left">' +
                '<div class="h-8"></div>' +
                '</td></tr></tbody></table>'     

            tbl.column(3).nodes()[7].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 bg-white"><tbody><tr><td class="border-t-4 p-0 border-blue-800">' + 
                '<div class="flex"><p class="text-sm font-bold">' + 'Ludmila Vilensky' + '</p></div>' +
                '</td></tr><tr><td class="p-0 text-left">' +
                '<div class="flex items-start"><p class="align-left text-sm font-bold text-gray-400">Diabetes</p></div>' +
                '</td></tr></tbody></table>'   

            tbl.column(3).nodes()[8].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 bg-white"><tbody><tr><td class="p-0 border-t-4 border-blue-800">' +
                '<div class="inline flex"><p class="text-sm font-bold">' + 'Sudanka Bacalovich' + '</p><img class="w-8 ml-auto" src="chat icon.svg"></div>' +
                '</td></tr><tr><td class="p-0 text-left bg-white">' +
                '<div class="flex items-start"><p class="align-left text-sm font-bold text-gray-400">Severe migranes</p></div>' +
                '</td></tr></tbody></table>'                      

            if (dayNum == 3)
                bg = 'bg-blue-200'
            else 
                bg = ''   

            tbl.column(4).nodes()[9].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 bg-white"><tbody><tr><td class="p-0 border-t-4 border-blue-800">' +
                '<div class="inline flex"><p class="text-sm font-bold">' + 'Sukhbirpal Dhalan' + '</p><img class="w-8 ml-auto" src="video icon.svg"></div>' +
                '</td></tr><tr><td class="p-0 text-left bg-white">' +
                '<div class="flex items-start"><p class="align-left text-sm font-bold text-gray-400">High blood pressure</p></div>' +
                '</td></tr></tbody></table>'  

            if (dayNum == 4)
                bg = 'bg-blue-200'
            else 
                bg = ''   

            tbl.column(5).nodes()[4].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 ' + bg + '"><tbody><tr><td class="p-0">' + 
                '<div class="h-8"></div>' +
                '</td></tr><tr><td class="p-0 text-left border-t-4 border-blue-800 bg-white">' +
                '<div class="inline flex"><p class="text-sm font-bold">' + 'Anna Fali' + '</p><img class="w-8 ml-auto" src="chat icon.svg"></div>' +
                '</td></tr></tbody></table>'

            tbl.column(5).nodes()[5].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 bg-white"><tbody><tr><td class="p-0">' + 
                '<div class="flex items-start"><p class="align-left text-sm font-bold text-gray-400">High blood pressure</p></div>' +
                '</td></tr><tr><td class="p-0 text-left">' +
                '<div class="h-8"></div>' +
                '</td></tr></tbody></table>'
            
            tbl.column(5).nodes()[6].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 ' + bg + '"><tbody><tr><td class="p-0">' +
                '<div class="h-8"></div>' +
                '</td></tr><tr><td class="p-0 text-left border-t-4 border-blue-800 bg-white">' +
                '<div class="inline flex"><p class="text-sm font-bold">' + 'Trashae Trubard' + '</p><img class="w-8 ml-auto" src="video icon.svg"></div>' +
                '</td></tr></tbody></table>'   
  
            tbl.column(5).nodes()[7].innerHTML = 
                '<table id="schedulerTableInner" class="table-fixed w-full h-16 ' + bg + '"><tbody><tr><td class="p-0  bg-white">' +
                '<div class="flex items-start"><p class="align-left text-sm font-bold text-gray-400">High blood pressure</p></div>' +
                '</td></tr><tr><td class="p-0 text-left">' +
                '<div class="h-8"></div>' +
                '</td></tr></tbody></table>'   
        }

        function openModal() {
            $('#defaultModal').dialog('open')
        } 

        $(document).ready(function() {         
            
            $('#defaultModal').dialog({
                title: 'Schedule new appointment',
                autoOpen: false, 
                modal: true,
                buttons: [            
                    { text: 'Cancel', click: function() {$(this).dialog('close')}, class: 'cancelcss' },
                    { text: 'Save', click: function() {$(this).dialog('close')}, class: 'savecss' }
                ],
                width: 500,
                height: 800,
                position: { at: 'top' },
                open : function() {
                    if ($(this).closest('.ui-dialog').offset().top < 40) {
                        $(this).closest('.ui-dialog').css({'top':'60px'})
                    }
                    $('#datepickerPopup').datepicker('setDate', $('#datepicker').val())
                }
            })
            $('.ui-dialog-buttonset').after('<a class="linkcss items-center justify-center inline-flex mx-6" href="#">Show patient availability</a>')
            $('#defaultModal').after('<div class="mx-12 h-24"><p class="text-xs text-gray-400">Choose patient</p>' +
                                     '<div id="selectPatient" class="w-96"></div></div>' +
                                     '<div id="datepickerPopup" class="justify-center items-center flex"></div>' +
                                     '<table id="buttonsTable" class="border-none"></table>')
            
            const url = new URL(window.location)
            var doctorname = url.searchParams.get('doctor_name')
            $.ajax({
                type: 'POST',
                url: '/getPatients',
                data: { doctorname :  doctorname },
                success: function(data){
                    var selectdata = []
                    for(var i=0; i<data.data.length; i++)
                        selectdata.push({id: i, text: data.data[i]})
                    $('#selectPatient').select2({data: selectdata})
                },
                failure: function(errMsg) {
                    alert(errMsg)
                }
            })            

            $('#datepickerPopup').datepicker({
                beforeShowDay: function(date){
                    var string = jQuery.datepicker.formatDate('yy-mm-dd', date)
                    return [ array.indexOf(string) == -1 ]
                },
                onSelect: function (dateText, inst) {                    
                    setData()
                }
            })              
            var tblButtons
            tblButtons = $('#buttonsTable').DataTable({
                paging: false, 
                ordering: false, 
                info: false, 
                searching: false,
                data: [['<button class="btn h-8 w-32 border-2 border-blue-400 text-blue-400 rounded-full">08:00-08:15</button>', 
                        '<button class="btn h-8 w-32 border-2 border-blue-400 text-blue-400 rounded-full">08:15-08:30</button>', 
                        '<button class="btn h-8 w-32 border-2 border-blue-400 text-blue-400 rounded-full">08:30-08:45</button>'], 
                       ['<button class="btn h-8 w-32 border-2 border-blue-400 text-blue-400 rounded-full">08:45-09:00</button>', 
                        '<button class="btn h-8 w-32 border-2 border-blue-400 text-blue-400 rounded-full">09:00-09:15</button>', 
                        '<button class="btn h-8 w-32 border-2 border-blue-400 text-blue-400 rounded-full">09:15-09:30</button>'], 
                       ['<button class="btn h-8 w-32 border-2 border-blue-400 text-blue-400 rounded-full">09:30-09:45</button>', 
                        '<button class="btn h-8 w-32 border-2 border-blue-400 text-blue-400 rounded-full">09:45-10:00</button>', 
                        '<button class="btn h-8 w-32 border-2 border-blue-400 text-blue-400 rounded-full">10:00-10:15</button>'], 
                       ['<button class="btn h-8 w-32 border-2 border-blue-400 text-blue-400 rounded-full">10:15-10:30</button>', 
                        '<button class="btn h-8 w-32 border-2 border-blue-400 text-blue-400 rounded-full">10:30-10:45</button>', 
                        '<button class="btn h-8 w-32 border-2 border-blue-400 text-blue-400 rounded-full">10:45-11:00</button>']], 
                columns: [{}, {}, {}] })       

            $('#datepicker').datepicker({
                beforeShowDay: function(date){
                    var string = jQuery.datepicker.formatDate('yy-mm-dd', date)
                    return [ array.indexOf(string) == -1 ]
                },
                onSelect: function (dateText, inst) {                    
                    setData()
                }
            })  

            $('#datepicker' ).datepicker('setDate', '09/20/2022')
            aoColumns = [{'sTitle': 'GMT'}]
            days.forEach(setTitles) 
            
            tbl = $('#schedulerTable').DataTable({
                paging: false, 
                ordering: false, 
                info: false, 
                searching: false,
                columnDefs: [{ 'defaultContent': '<table id="schedulerTableInner" class="w-full h-16"><tbody><tr><td class="border border-2 p-0"></td></tr><tr><td class="border border-2 p-0"></td></tr></tbody></table>', 'targets': '_all' }], 
                data: aaData, 
                columns: aoColumns })                  
            
            // column selected background           

            tbl.column(0).nodes().each(function (cell, i) {
                cell.classList.add('gmtText')
            })

            var date = new Date($('#datepicker').val())
            var dayNum = date.getDay()
            tbl.column(dayNum + 1).nodes().each(function (cell, i) {
                cell.innerHTML = '<table id="schedulerTableInner" class="w-full h-16 bg-blue-200"><tbody><tr><td class="border border-2 p-0"></td></tr><tr><td class="border border-2 p-0"></td></tr></tbody></table>'
            })   

            initData()

            $('#today').css('outline', 'none')
            $('#today').focus()
        })        
        
    style.  
        #schedulerTable td {
            padding: 0px;
            vertical-align: center;
            text-align: center; 
        }

        #schedulerTable th {
            vertical-align: center;
            text-align: center; 
        }

        #schedulerTable .blueText {
            color: blue
        }

        #schedulerTable .gmtText {
            color: gray;
            font-size: 0.675em;
            font-weight: bold; 
        }

        .ui-widget-overlay {
            background: rgba(0,0,0,0.8);
            opacity: .8;
        }        
        
        .ui-dialog .ui-dialog-title {
            text-align: center;
            width: 100%;
            padding: 16px;
            font-size: 1.5em;
        }

        .savecss {
            background: #00AAF3;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 8px;
            height: 40px;
            width: 90px;
        }
        
        .cancelcss {
            color: gray;
            font-weight: bold;
            border-radius: 8px;
            height: 40px;
            width: 90px;
        }

        .linkcss {
            color: #333333;
            font-weight: bold;
            border-bottom: 1px solid;
            height: 40px;
            align: center;
        }
        
        .select2-container .select2-selection--single {
            height: 40px !important;
        }

        .select2-selection__arrow {
            height: 40px !important;
        }

        .select2-container--default .select2-selection--single { 
            background: #F1F1F1; 
        }

        #buttonsTable thead th {
            border-bottom: none;
        }
 
        #buttonsTable {
            border: none;
        }