extends layout
            
block content
    .centered
        img.image(src='/images/logo.png')
        h1.text-blue-600 Hello world!
        select(name='key', id='key')
            each val, index in data
                option(value = index) #{val}
        
        
            