extends layout

block content
    .centered
        h1.text-blue-600 Hello world!
        select(name='key', id='key')
            each val, index in data
                option(value = index) #{val}
        
        
            