extends layout
            
block content
    .centered
        img(src='main_logo.png') 
        h1.text-blue-600 Hello world!
        select(name='key', id='key')
            each val, index in data
                option(value = index) #{val}
        
        
            