extends layout

block content
    .centered
        select(name='key', id='key')
            each val, index in data
                option(value = val, selected = val === 'tamib') = val
        
        
            