block variables
html
    head
        meta(charset="utf-8")
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css', rel='stylesheet', media='screen') 
        link(rel='stylesheet' href='https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css')
        link(rel='stylesheet' href='https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css')
  
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js')  
        script(src='https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0')
        script(src='https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels')    
        script(src='https://code.jquery.com/jquery-3.6.0.min.js', rel='stylesheet', media='screen')
        script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.min.js', rel='stylesheet', media='screen')  
        script(src='https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js', rel='stylesheet', media='screen')  
        script(src='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js', rel='stylesheet', media='screen')  
        
    body
        block header
        block content