html
    head
        title #{appName}
        style
            include ../public/styles/style.css
            include ../public/styles/tailwind.css
    body
        .container
            .centered
                img(src='src/public/main_logo.png', alt='Vevaio logo') 
                block content
                