html
    head
        title #{appName}
        style
            include ../public/styles/style.css
            include ../public/styles/tailwind.css
    body
        .container
            .centered                
                block content
                