html
    head
        title #{appName}
        style
            include ../public/styles/style.css
    body
        .container
            .centered
                img(src='/public/main_logo.png', alt='Vevaio logo') 
                block content
                