extends layout         
block variables
    - var doctor_name = doctor_name
block content          
        
    div.w-screen.shadow-lg
        p.text-black.font-bold.text-2xl.mx-4.my-3 Patients

    div(style={background: '#F3F3F3'}).w-screen.inline.flex.justify-center.items-center.shadow-lg.rounded-lg
        button.justify-center.items-center(class='inline-flex font-medium hover:text-blue-500 hover:bg-blue-100 hover:drop-shadow-md bg-blue-500 text-white rounded-md').w-36.h-12.mx-6.p-3 
            img(src='plus white icon.svg').h-4.mr-auto    
            p New patient          

        form.ml-auto.justify-center.items-center.w-96.h-16.mx-6.mt-3.mb-0
            label(for='default-search' class='mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300') Search
            div.relative.mx-3.justify-center
                div.flex.absolute.inset-y-0.left-0.items-center.pl-3.pointer-events-none
                    svg(aria-hidden='true' class='w-5 h-5 text-gray-500 dark:text-gray-400' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z')

                input.justify-center.items-center.flex(type='search' id='default-search' class='block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Search ...' required)
                button(type='submit' class='text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800') Search
    // Table
    div.m-6.flex
        div(class='overflow-x-auto')
            table(class='text-md text-left text-gray-500 w-full')
                thead(class='text-md text-gray-700 p-12')
                    tr
                        th(scope='col')
                            div(class='inline-flex justify-center items-center w-36')
                                p.mx-3 Client name
                                img(src='arrow down icon.png').h-4.mr-auto     

                        th(scope='col')
                            div(class='inline-flex items-center w-36')
                                p.mx-3 Status
                                img(src='arrow down icon.png').h-4.mr-auto    
                        
                        th(scope='col')
                            div(class='inline-flex items-center w-48')
                                p.mx-3 Next meeting
                                img(src='arrow down icon.png').h-4.mr-auto    

                        th(scope='col')
                            div(class='inline-flex items-center w-48')
                                p.mx-3 Last interaction
                                img(src='arrow down icon.png').h-4.mr-auto   

                        th(scope='col')
                            div(class='inline-flex items-center w-48')
                                p.mx-3 Phone number  

                        th(scope='col')
                            div(class='inline-flex items-center w-36')
                                p.mx-3 Score
                                img(src='arrow down icon.png').h-4.mr-auto                         
                                
                        th
                            p.text-center #{users.length} total
                        
                tbody
                    each val in users 
                        tr(class='bg-white border-b').justify-center.items-center
                            td.text-gray-800.w-48.m-4.p-6
                                div.inline-flex
                                    img.rounded-full.border.border-gray-200.w-6.h-6.mr-auto(src='user gray icon.svg')
                                    p.mr-auto.px-4 #{val.firstname}
                            td.text-gray-800.w-48.m-4.p-6
                                p Active

                            td.text-gray-800.w-48.m-4.p-6
                                p 02/08/2022 

                            td.text-gray-800.w-48.m-4.p-6
                                p 24/07/2022 : 14:22

                            td.text-gray-800.w-36.m-4.p-6
                                p.justify-center.items-center 051-2342654

                            td.text-gray-800.w-96.m-4.p-6
                                p.justify-center.items-center 56%
                            
                            td.inline-flex.m-4.p-6
                                img.w-4.h-4(src='eye gray icon.svg' onclick=`patientinfo(${JSON.stringify(doctor_name)}, ${JSON.stringify(val)})`)
                                img.w-4.h-4.mx-4(src='pencil gray icon.svg')
                                img.w-4.h-4(src='trash gray icon.svg')                   
                    
        script. 
     
            function patientinfo(doctor_name, val)
            {
                window.location.href = './patientinfo?doctor_name=' + doctor_name + '&patientname=' + val.firstname + '&patientemail=' + val.email   
            }

